@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';


:root {
  --radius-xl: 4px;
  --radius-md: 4px;
  --radius-sm: 4px;
  --radius-lg: 4px;
  --radius-2xl: 4px;
  --radius-4xl: 4px;
}

.fi-ac-btn-action {
  padding: .5em 4em;
}

.fi-simple-main-ctn {
  background: darkgray;
}